body, html {
  height: 100%;
  margin: 0;
  font-family: Segoe UI, Helvetica, sans-serif;
  scroll-behavior: smooth; /* not supported by ilder browsers, maybe we can do something nicer */
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/frontpagebg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#check-it-out {
  margin-top: 40px;
  border: 0;
  border-radius: 12px;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
  font-family: Segoe UI, Helvetica, sans-serif;
}

#check-it-out:hover {
  background-color: #ed2f2f;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  color: white;
  text-decoration: none;
}

.nav-link {
  font-size: 16pt;
}

.nav-item:hover {
  background-color: #ed2f2f;
}

#quote {
  font-family: Segoe UI, Helvetica, sans-serif;
  font-style: italic;
  font-size: 16pt;
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  padding-top: 20px;
  vertical-align: middle;
  color: black;
}

#features {
  background-color: green;
  height: 100%;
  background-size: cover;
  text-align: center;
}


/* * {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: bebas neue, arial;
}

.hero {
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.hero::before {
  background-image: url(../images/frontpagebg.jpg);
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.3;
}

.flex-centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero-message {
  color: #000;
  min-width: 100%;
  min-height: 12em;
  position: relative;
}

.hero-message::before {
  content: "";
  display: block;
  position: absolute;
  margin-left: 0;
  min-width: 100%;
  min-height: 12em;
  z-index: -1;
  opacity: 0.9;
  background-color: #fff;
}

.hero-title {
  width: 100%;
  display: block;
  text-align: center;
}

.hero-title {
  padding-left: 100px;
  display: inline;
}

.hero-title a {
  color: black;
  font-size: 1.5em;
}

#bannerimg {
  margin-left: 100px;
}

#hero-submessage {
  color: #000;
  min-width: 100%;
  min-height: 5em;
  position: relative;
  content: "";
  display: block;
  position: absolute;
  margin-top: 200px;
  z-index: -1;
  opacity: 0.9;
  background-color: #fff;
  font-size: 1.2em;
  padding: 30px 0 0 230px;
}

/* #hero-submessage::before {
  content: "";
  display: block;
  position: absolute;
  margin-top: 50px;
  margin-left: 0;
  min-width: 100%;
  min-height: 6em;
  z-index: -1;
  opacity: 0.9;
  background-color: #fff;
} */ */
