#menu-background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/frontpagebg.jpg");
  height: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

#navbarBorder {
  padding: 0px 10px 0px 20px;

}

.menu-text {
  padding: 0px;
  min-width: 450px;
  text-align: center;
}

.return {
  font-style: italic;
}

.nav-item:hover {
  background: none;
  text-decoration: underline;
}

.nav-link {
  font-family: 'Playfair Display', serif;.
  color: black;
}

.navbar.navbar-expand-lg.navbar-light.bg-white li a {
  color: black;
}

#faq {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/castle.jpg");
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.content {
  margin: auto;
  max-width: 1000px;
  padding: 20px;
}

#first-section {
  padding: 130px 0;
  text-align: center;
  background-color: #f94545;
  color: white;
}

.question {
  font-size: 20pt;
  font-weight: 300;
}

.question span {
  font-weight: 600;
}

.answer {
  font-size: 18pt;
  font-weight: 300;
}

.download-icon {
  float:left;
  clear: left;
  margin-right: 20px;
}

a > .answer {
  font-size: 16pt;
}

.document-download {
  color: white;
  line-height: 60px;
  font-family: 'Playfair Display', serif;
}

#documentation .document-download {
  color: black;
}

#documentation .document-download:hover {
  color: black;
}

.document-download:hover {
  color: white;
}

#documentation {
  background-color: #ffda60;
}

h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.member-container {
  margin: 20px;
  position: relative;
  display: inline-block;
  width: 277px;
}

.team-member {
  display: block;
  width: 100%;
  height: 15em;
  background-color: #95b5d6;
  text-align: center;
  padding-top: 35%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #95b5d6;
}

.member-container:hover .overlay {
  opacity: 1;
  cursor: default;
}

.description {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
