body, html {
  height: 100%;
  margin: 0;
  font-family: Segoe UI, Helvetica, sans-serif;
  scroll-behavior: smooth; /* not supported by older browsers, maybe we can do something nicer */
}

#hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/frontpagebg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  min-width: 450px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  font-weight: 200;
}

/* 'Check it out' button in main page */
#check-it-out {
  margin-top: 40px;
  border: 0;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
  font-family: Segoe UI, Helvetica, sans-serif;
}

#check-it-out:hover {
  background-color: #ed2f2f;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  color: white;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.nav-link {
  font-size: 16pt;
  font-family: 'Playfair Display', serif;
  color: black;
}

.return {
  font-style: italic;
}

.mr-auto a:hover {
  color: #ed2f2f !important;
  -webkit-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  transition: color 200ms linear;
}

.nav-item {
  height: 10%;
  color: black;
}

.nav-item:hover {
  background: none;
  text-decoration: underline;
}

#quote {
  font-family: 'Playfair Display', serif;
  font-size: 20pt;
  font-weight: 200;
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  padding-top: 20px;
  vertical-align: middle;
  color: black;
}

#larger {
  font-size: 22pt;
}

#features {
  background-color: #8bbfac;
  position: relative;
  height: 100%;
  background-size: cover;
  text-align: center;
  padding: 70px;
}

#navbarBorder {
  /* border-radius: 12px; */
}

.topNavbarFeatures {
  background-color: white;
  height: 12%;
  overflow: hidden;
}

.topNavbarFeatures a {
  float: left;
  color: #353535;
  text-align: center;
  padding: 32px 36px;
  height: 100%;
  text-decoration: none;
  font-size: 17px;
  font-style: italic;
  font-weight: 200;
}

.topNavbarFeatures a:hover {
  background-color: #ddd;
  color: black;
}

#featuresQuote {
  height: 10%;
  position: relative;
  margin-bottom: 50px;
  font-family: Segoe UI, Helvetica, sans-serif;
  font-style: italic;
  font-size: 25pt;
  text-align: left;
  padding-right: 20%;
  color: #f9fcfb;
}

#navbarImage{
  margin-top: -20px;
  padding-left: 8px;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

#vertical-menu {
  width: 40%;
  position: relative;
}

#vertical-menu img {
  padding-right: 4%;
}

#vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  font-style: italic;
  font-weight: 200;
  text-align: left;
  border-bottom: 1px solid #8bbfac;
  text-decoration: none;
}

#vertical-menu a:hover {
  background-color: inherit;
  cursor: default;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

/* More text when hover in features menu */
#feature1 #feature1-more {
  display: none;
}

#feature1:hover #feature1-more {
  display: initial;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

#feature2 #feature2-more {
  display: none;
}

#feature2:hover #feature2-more {
  display: initial;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

#feature3 #feature3-more {
  display: none;
}

#feature3:hover #feature3-more {
  display: initial;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

#feature4 #feature4-more {
  display: none;
}

#feature4:hover #feature4-more {
  display: initial;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

#feature5 #feature5-more {
  display: none;
}

#feature5:hover #feature5-more {
  display: initial;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.tile {
  position: absolute;
  left: 60%;
  bottom: 5%;
  height: 70%;
  padding: 5px;
  border-radius: 10px;
  font-weight: 200;
}

.phoneImg {
  height: inherit;
  padding: 5px;
  margin-top: -45px;
  border-radius: 10px;
}

/* .stick {
  position: relative;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right:20px solid #eee;
  right: 99.5%;
}

#restaurantStick {
  top: 2%;
}

#activityStick {
  top: 13.5%;
}

#heritageStick {
  top: 25%;
}

#navigationStick {
  top: 36.5%;
}

#interfaceStick {
  top: 48%;
} */

#download {
  background-image: linear-gradient(0deg, #f9b17c, #8bbfac);
  height: 100%;
  background-size: cover;
  text-align: center;
  position: relative;
}

h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#google-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#google-play h1 {
  font-family: Segoe UI, Helvetica, sans-serif;
  font-style: italic;
  color: white;
  padding: 10px;
  display:inline; */
  white-space:nowrap;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

#footer {
  background-color: #f9b17c;
  color: white;
  padding: 10px;
  padding-top: 20px;
  padding-left: 20px;
  text-align: center;
}

/* Smartphones (portrait and landscape)(small) */
@media screen and (min-width : 0px) and (max-width : 767px){

  #quote {
    width: 80%;
    margin-left: 10%;
  }

  #navbarBorder {
    width: 80%;
    margin: 0 auto;
  }

  .navbar-brand {
    margin-left: -4%;
  }

  #check-it-out {
    margin-top: 3%;
  }

  #features {
    background-color: #8bbfac;
    position: relative;
    height: 100%;
    background-size: cover;
    text-align: center;
    padding: 10px 10px 0 10px;
  }

  #vertical-menu {
    width: 100%;
    margin-top: -20%;
  }

  #featuresQuote {
    position: relative;
    margin-bottom: 100px;
    font-family: Segoe UI, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    width: 120%;
  }

  #featuresQuoteText {
    font-size: 0.8em;
  }

  .tile {
      position: relative;
      left: 0%;
      top: 5%;
      height: 50%;
      padding-top: 4%;
      border-radius: 10px;
      width: 220px;
      align-items: center;
      margin: 0 auto;
  }

  .tile img {
    height: 100%;
    width: auto;
  }

  .stick {
    visibility: hidden;
  }

}

/* Medium tablet */
@media screen and (min-width : 768px) and (max-width : 1023px){
  /* .tile {
      background-color: #eee;
      position: absolute;
      left: 60%;
      bottom: 5%;
      height: 600px;
      padding: 5px;
      border-radius: 10px;
      font-weight: 200;
  } */
}

/*Desktops, big landscape tablets and laptops(Large, Extra large)*/
@media screen and (min-width: 1024px){
  /* .tile {
      background-color: #eee;
      position: absolute;
      left: 60%;
      bottom: 5%;
      height: 600px;
      padding: 5px;
      border-radius: 10px;
      font-weight: 200;
  } */
}
